 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

:root {
	/* --layer-1: #28282a; */
	--layer-1: #1a1a1c;

	/* --layer-2: #38383a;
	--layer-2-shadow: rgba(0, 0, 0, 0.0);
	--layer-2-project: #313133; */
	--layer-2: #2C2C2F;
	--layer-2-trim: #353536;
	--layer-2-shadow: rgba(0, 0, 0, 0.0); /* this was 0.15 opacity before */
	--layer-2-project: #1D1D20;

	/* --layer-3: #58585a;
	--layer-3-trim: #666668;
	--layer-3-shadow: rgba(0, 0, 0, 0.0); */
	--layer-3: #38383C;
	--layer-3-trim: #414145;
	--layer-3-shadow: rgba(0, 0, 0, 0.0); /* this was 0.25 opacity before */

	--text-primary: #FFFFFF;
	--text-secondary: #FFFFFFCC;
	--text-tertiary: #FFFFFF88;

	--notes-accent: #FFB800;
	--notes-accent-secondary: #FFB8008A;
	--notes-accent-tertiary: #FFB800BB;

	--publications-accent: #4BEF96;
	--publications-accent-secondary: #4BEF967A;
	--publications-accent-tertiary: #4BEF96BB;

	--about-accent: #FF7878;
	--about-accent-secondary: #FF78787A;
	--about-accent-tertiary: #FF7878BB;
}


html {
	font-family: 'Outfit', sans-serif;
	background: var(--layer-2);
	/* come back to this idea later */
	background: linear-gradient(0deg, var(--layer-2) 0%, var(--layer-2) 50%, var(--layer-1) 50%, var(--layer-1) 100%);
}

html, body {
	font-family: 'Outfit', sans-serif;
	margin: 0;
	padding: 0;
	/* height: 100%; */
	max-width: 100%;
  overflow-x: hidden;
}

body {
	color: var(--text-primary);
	font-family: 'Outfit', sans-serif;
	font-weight: 200;
	background: linear-gradient(0deg, var(--layer-2) 0%, var(--layer-2) 50%, var(--layer-1) 50%, var(--layer-1) 100%);
}

p {
	font-weight: 200;
}

p strong, p b {
	  font-weight: 500;
}
