.social-icons {
    /* existing sidebar styles */
    display:flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 10px;  
}

.social-icons a {
    /* existing sidebar styles */
    font-size:21px;
    text-decoration: none;
    color: #1c1c1c;
    padding-right: 0px;
}

.social-icons-mobile {
    /* existing sidebar styles */
    display: block;
    /* justify-content: space-between;  */
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

.social-icons-mobile a {
    /* existing sidebar styles */
    font-size:28px;
    text-decoration: none;
    color: #1c1c1c;
    padding-right: 12px;
}

/* @media (max-width: 20000px) {
    .social-icons {
        display: none;
    }

    .social-icons-mobile {
        display: block;
    }
} */

@media (min-width: 600px) {
    .social-icons {
        display:flex;
    }

    .social-icons-mobile {
        display: none;
    }
}
