
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'theme.css';

.container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 700px;
    padding: 50px; /* Add padding */
    margin: auto; /* Center the container */
    box-sizing: border-box; /* Include padding in the width */
    gap: 50px;
    align-items: center;
}

.content {
    /* flex: 1; */
    /* margin: auto; */
    min-width: 280px; /* Adjust minimum width as needed */
    max-width: 700px;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: -0px;
    font-weight: 300;
    color: var(--primary-color);
    background: var(--background-color);
}

h1 {
    font-size: 24px;
}

a {
    font-size: 17px;
    line-height: 1.2em;
    color: var(--primary-color);
    text-decoration:underline;
    text-decoration-color: var(--secondary-color);
    font-weight: 500;
    line-height: 1em;
}

strong {
    font-weight: 600;
}

a i {
    vertical-align: middle;
    margin-top: 1px;
}

.works {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    width: 100%;
}

.work {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    line-height: 0px;
}

hr {
    flex-grow: 1;
    border: 0;
    height: 1px;
    background-color: var(--secondary-color);
    margin: 0 20px;
}

i {
    font-size: 20px;
}


/* .work-container {
    width: 100%;
  }
  
.work-content {
    display: none;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    margin-left: 2px;
    padding-left: 12px;
    border-left: 1px solid #1c1c1c34
} */

.pfp {
    display: flex;
    flex-direction: column;
    max-width: 130px;
    padding-right: 0px;
}

@media (min-width: 600px) {
    .pfp {
        flex-direction: row;
        padding: 24px;
    }
}

/* Responsive Design for Mobile Screens */
/* @media (max-width: 20000px) { */
    .container {
        flex-direction: column;
        padding: 4px;
        gap: 4px;
    }

    .sidebar {
        width: 100%;
        order: -1; /* This places the sidebar above the content */
        position: relative; /* Resets sticky positioning on mobile */
    }

    .content {
        width: 100%; /* Ensures content takes full width on mobile */
    }
/* } */
