:root {
    --primary-color: #1c1c1c;
    --secondary-color: #1c1c1c34;
    --background-color: #FFF;
    --shadow-color: #1c1c1c34;
    --opacity: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #FFFFFF;
        --secondary-color: #818181;
        --background-color: #212124;
        --shadow-color: #161618AA;
        --opacity: 90%;
        /* --primary-color: #1c1c1c;
        --secondary-color: #1c1c1c34;
        --background-color: #FFF; */
    }

    img {
        opacity: var(--opacity);
    }
}